@model WebForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        @if (!string.IsNullOrEmpty(Model.ImageFileName))
        {
            <dt class="col-sm-2">
                Image
            </dt>
            <dd class="col-sm-10">
                <img src="~/images/@Model.ImageFileName" alt="Discussion Image" style="max-width: 500px;" />
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscussionId">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to Home</a>

</div>
